h1,
h2,
h3,
.h1,
.h2,
.h3,
.title {
  font-size: var(--size);
  line-height: var(--size);
  vertical-align: middle;
  font-family: var(--var-font-family-header);
  font-weight: 500;
  text-transform: lowercase;
}

h1,
.h1 {
  --size: 3rem;
}

@media (max-width: 70rem) {

  h1,
  .h1 {
    --size: 2.5rem;
  }
}

.title {
  --size: 4rem;
  letter-spacing: 0.1ch;
}

.title a {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 70rem) {

  .title {
    --size: 2rem;
  }
}

h2,
.h2 {
  --size: 2rem;
}

h3,
.h3 {
  --size: 1.5rem;
  margin: 0.5rem 0;
}

h1:not(.title)::before {
  background: var(--var-gradient);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  display: inline-block;
  position: relative;
  margin-right: 1rem;
  content: "";
  vertical-align: middle;
}

p,
.body,
li {
  font-family: var(--var-font-family-body);
  font-size: 1.2rem;
  font-weight: 500;
}
