.h1,
.h2,
.h3 {
  font-size: var(--size);
  line-height: var(--size);
  vertical-align: middle;
  font-family: var(--var-font-family-header);
  font-weight: 500;
  text-transform: lowercase;
}

.h1 {
  --size: 5rem;
  letter-spacing: 0.1ch;
}

.h2 {
  --size: 3rem;
}

.h3 {
  --size: 2rem;
  margin: 0.5rem 0;
}

.h2::before {
  background: var(--var-gradient);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  display: inline-block;
  position: relative;
  top: 0.25rem;
  margin-right: 0.5rem;
  content: "";
}

.body {
  font-family: var(--var-font-family-body);
  font-size: 1.2rem;
  font-weight: 500;
}
