.sidebar {
  flex-basis: 20%;
  position: sticky;
  left: 1rem;
  top: 2rem;
  margin-top: 5rem;
  background-color: rgb(from var(--var-bg) r g b / 80%);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 1rem;
  z-index: 1;
  max-height: 40rem;
  overflow-y: scroll;
  display: none;
}

.sidebar h3::after {
  content: "";
  display: block;
  position: relative;
  bottom: -0.5rem;
  height: 0.5rem;
  width: 100%;
  background: var(--var-gradient);
  border-radius: 5px;
  margin: 0.5rem 0 1rem;
}

.sidebar a,
.toc a {
  padding: 0.2rem 0;
  display: block;
  font-size: 1.1rem;
  position: relative;
}

.sidebar a::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.75rem;
  left: 0rem;
  background-color: var(--var-pink);
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
}

.sidebar a[attr-active="active"] {
  color: hsl(from var(--var-pink) h s 60% / alpha);
}

.sidebar a[attr-active="visible"] {
  color: hsl(from var(--var-pink) h s 30% / alpha);
}

.sidebar a[attr-active="active"]::before {
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}

.toc {
  background-color: var(--var-bg);
  padding: 1rem;
  border-radius: 16px;
  margin-top: 1rem;
}

@media (min-width: 70rem) {
  .toc {
    display: none;
  }

  .sidebar {
    display: block;
  }
}
