.container {
  display: block;
  background-color: rgb(from var(--var-bg) r g b / 80%);
  backdrop-filter: blur(20px);
  margin: 2rem 0.5rem 0 0.5rem;
  padding: 2rem;
  border-radius: 16px;
  width: calc(100% - 5rem);
}

@media (min-width: 70rem) {
  .container {
    margin: 2rem auto 0;
    width: 60%;
  }
}

.bentoContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bento {
  height: 10rem;
  background-color: var(--var-yellow);
  border-radius: 16px;
  padding: 2rem;
  flex: 1 0 auto;
  width: 33%;
  margin: 0 0.75rem 0.75rem 0;
  font-weight: bold;
  font-size: 1.1rem;
  background-size: cover;
  overflow: hidden;
}

.bento :global(*) {
  position: relative;
  z-index: 2;
}

.wideBento {
  width: 66%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  flex-grow: 1;
}
