---
import { SEO } from "astro-seo";
import Container from "../components/layout/container.astro"
import Menu from "../components/menu/menu.astro";
import Heading from "../components/layout/Heading.astro";
import { ClientRouter } from "astro:transitions";
import "../index.css";
import Footer from "../components/layout/Footer.astro";
import LiquidGlass from "../components/LiquidGlass.astro";
import maisieImage from "../assets/img/maisie.jpeg";
import Menuitems from "../components/menu/menuitems.astro";
import FloatingMenu from "../components/menu/floatingMenu.astro";

type Article = {
      publishedTime?: string;
      modifiedTime?: string;
      expirationTime?: string;
      authors?: string[];
      section?: string;
      tags?: string[];
      excerpt?: string;
}

const { title, frontmatter, image } = Astro.props

let pageTitle = title;
if (frontmatter) {
  pageTitle = frontmatter.title
}
let article: Article = {};
if (Astro.props.article != null) {
  article = Astro.props.article;
}

const description = Astro.props.description || article.excerpt ||"A little corner of the internet where I share what I'm building and things I've taken photos of"

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{png,jpg,jpeg}')
let metaImg = null
if (image != null) {
  metaImg = images[image]
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="maisieccino"
      href={new URL("rss.xml", Astro.site)}
    />

    <ClientRouter />
    <SEO
      title=`${pageTitle} | maisieccino`
      description={description}
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: image ? image() : maisieImage.src,
          url: Astro.url,
        },
        article,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.png" }],
      }}
    />
  </head>
  <body>
<LiquidGlass />
<FloatingMenu>
  <Menuitems />
</FloatingMenu>
<div class="page">
    <slot name="sidebar"/>
    <Container>
      <Heading title="maisieccino" transition:persist id="top">
        <Menu>
          <Menuitems/>
        </Menu>
      </Heading>
      <div id="menu-track-pixel"></div>
      <slot transition:animate="slide"/>
      <Footer />
    </Container>
  </div>
  </body>
</html>

