---
import Main from "../layouts/main.astro"
import BentoContainer from "../components/layout/bentoContainer.astro"
import Bento from "../components/layout/bento.astro"
import LinkButton from "../components/button/LinkButton.astro";
import {format as dateFormat } from "date-fns";
import { posts } from "../util/ghost"
---

<Main title="Blog">
  <h1>Recent blog posts</h1>

  <p>View them all on my <a href="https://blog.mbell.dev" target="_blank">blog</a>. </p>

  <BentoContainer>
    { posts.map(p => (
    <Bento title={p.title} wide>
      <p>Published: {dateFormat(p.published_at, "yyyy-MM-dd")}</p>
      <p>{p.excerpt}</p>
      <LinkButton href={p.url}>Read</LinkButton>
    </Bento>
    )) }
  </BentoContainer>
</Main>
