---
import Main from "../layouts/main.astro";
import Bento from "../components/layout/bento.astro"
import BentoContainer from "../components/layout/bentoContainer.astro"
import {Button} from "../components/button"
import LinkButton from "../components/button/LinkButton.astro";

import maisieImage from "../assets/img/maisie.jpeg";
---

<Main>
   <BentoContainer>
     <Bento>
      <p>Hello!</p>
      <p>I'm Maisie. Welcome to my little corner of the internet.</p>
     </Bento>
    <Bento image={maisieImage.src}>
     </Bento>
     <Bento title="Data" wide>
        <p>Maisie's datasets.</p>
      <LinkButton href="/data">Show me</LinkButton>
     </Bento>
   </BentoContainer>
   <Button>Tap for dopamine</Button>
</Main>
