---
import Main from "../layouts/main.astro";
import Bento from "../components/layout/bento.astro"
import BentoContainer from "../components/layout/bentoContainer.astro"
import LinkButton from "../components/button/LinkButton.astro";

import maisieImage from "../assets/img/maisie.jpeg";

import { posts } from "../util/ghost";
const latestPost = posts ? posts[0] : {title: "", slug: ""};
---

<Main title="Home">
   <BentoContainer>
    <Bento>
      <p>Hello!</p>
      <p>I'm Maisie. Welcome to my little corner of the internet.</p>
    </Bento>
    <Bento image={maisieImage.src}>
    </Bento>
    <Bento title="Uses">
       <p>The tools I use!</p>
     <LinkButton href="/uses">Show me</LinkButton>
    </Bento>
    <Bento wide title="Latest blog post">
      <p>{latestPost?.title}</p>
      <LinkButton href=`/post/${latestPost.slug}`>Read it now</LinkButton>
    </Bento>
    <Bento title="Photography">
      <p>Recent photos I've taken.</p>
      <LinkButton href="/photos">See more</LinkButton>
    </Bento>
    <Bento title="AI Policy">
      <p>My use of LLM tools.</p>
      <LinkButton href="/ai-policy">See more</LinkButton>
    </Bento>
   </BentoContainer>
</Main>
