---
import Main from "../layouts/main.astro";
import { BentoContainer, Bento } from "../components/layout";
import {Button} from "../components/button"
---

<Main>
   <BentoContainer>
     <Bento>
       Hello
     </Bento>
     <Bento title="Projects" wide>
       A recent project...
     </Bento>
     <Bento title="Data" wide color="#fd98ce">
       Maisie's data sets.
     </Bento>
   </BentoContainer>
   <Button>Tap for dopamine</Button>
</Main>
