---
import Main from "../layouts/main.astro";
import BentoContainer from "../components/layout/bentoContainer.astro";
import Bento from "../components/layout/bento.astro";
import LinkButton from "../components/button/LinkButton.astro";

let posts = Array();

const rsp = await fetch("https://glass.photo/api/v3/users/maisie/posts?limit=10")
const results = await rsp.json();
  results.forEach(r => {
    posts.push(r);
  })

---

<Main>
  <h1>Photos</h1>
  <p><LinkButton href="https://glass.photo/maisie">View more on Glass</LinkButton></p>
  <p>Here's a quick sample of the photos I've taken.</p>
  <BentoContainer>
    {posts.map(p => (
      <Bento image={p["image_widget_square"] }></Bento>
    ))}
  </BentoContainer>
</Main>


