.buttonShared {
  --button-depth: 0.3rem;

  --color: var(--var-black);
  --border-width: 0.5rem;
  font-weight: 700;
  border-radius: var(--var-corner-rounding);
  cursor: pointer;
  z-index: 0;
  border: none;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

.button {
  /**/
  --color-border: var(--var-pink);
  color: var(--var-black);
  background-color: var(--var-yellow);
  font-family: var(--var-font-family-header);
  font-size: 1rem;
  padding: 1rem;
  line-height: 1rem;
  box-shadow: var(--button-depth) var(--button-depth) var(--color-border);
}

.button:active {
  box-shadow: none;
  transform: translateX(var(--button-depth)) translateY(var(--button-depth));
}
