@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@font-face {
  font-family: "A";
  font-weight: normal;
  src: url("./fonts/A.otf");
}
@font-face {
  font-family: "A";
  font-weight: bold;
  src: url("./fonts/A-Bold.otf");
}
@font-face {
  font-family: "A";
  font-weight: lighter;
  src: url("./fonts/A-Light.otf");
}
@font-face {
  font-family: "AMono";
  font-weight: normal;
  src: url("./fonts/A-Mono.otf");
}
@font-face {
  font-family: "Michroma";
  font-weight: normal;
  src: url("./fonts/Michroma-Regular.ttf");
}

body {
  margin: 0;
  font-family: "A", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --var-pink: #fd98ce;
  --var-yellow: #ffc700;
  --var-blue: #83eaea;
  --var-white: #ffffff;
  --var-black: #000000;
  --var-bg: #efefeb;
  --var-gradient: linear-gradient(
    225deg,
    var(--var-yellow) 0%,
    var(--var-pink) 51.56%,
    var(--var-blue) 100%
  );
  --var-font-family-header: "Michroma", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --var-font-family-body: "A", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
