@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@font-face {
  font-family: "A";
  font-weight: normal;
  src: url("./fonts/A.otf");
}

@font-face {
  font-family: "A";
  font-weight: bold;
  src: url("./fonts/A-Bold.otf");
}

@font-face {
  font-family: "A";
  font-weight: lighter;
  src: url("./fonts/A-Light.otf");
}

@font-face {
  font-family: "AMono";
  font-weight: normal;
  src: url("./fonts/A-Mono.otf");
}

@font-face {
  font-family: "Michroma";
  font-weight: normal;
  src: url("./fonts/Michroma-Regular.ttf");
}

body {
  margin: 0;
  font-family: "A", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--var-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

html {
  min-height: 100%;
}

code {
  font-family: "AMono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --var-pink-10: #1F1319;
  --var-pink-20: #3B2430;
  --var-pink-30: #583548;
  --var-pink-40: #74465F;
  --var-pink-50: #915776;
  --var-pink-60: #A86D8D;
  --var-pink-70: #B98AA3;
  --var-pink-80: #CAA6B9;
  --var-pink-90: #DBC3D0;
  --var-pink-100: #ECDFE6;

  --var-yellow-10: #302600;
  --var-yellow-20: #5E4900;
  --var-yellow-30: #8B6D00;
  --var-yellow-40: #B99000;
  --var-yellow-50: #E7B400;
  --var-yellow-60: #FFCC15;
  --var-yellow-70: #FFD643;
  --var-yellow-80: #FFE071;
  --var-yellow-90: #FFEA9E;
  --var-yellow-100: #FFF4CC;

  --var-cyan-10: #122020;
  --var-cyan-20: #223D3D;
  --var-cyan-30: #325A5A;
  --var-cyan-40: #437777;
  --var-cyan-50: #539595;
  --var-cyan-60: #69ACAC;
  --var-cyan-70: #87BCBC;
  --var-cyan-80: #A4CCCC;
  --var-cyan-90: #C1DCDC;
  --var-cyan-100: #DEEDED;

  --var-pink: #fd98ce;
  --var-yellow: #ffc700;
  --var-blue: #83eaea;
  --var-white: #ffffff;
  --var-black: #000000;
  --var-bg: #efefeb;
  --var-gradient: linear-gradient(225deg,
      var(--var-yellow) 0%,
      var(--var-pink) 51.56%,
      var(--var-blue) 100%);
  --var-font-family-header: "Michroma", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --var-font-family-body: "A", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --var-corner-rounding: 2rem;
}
