name: Deploy to GitHub
on:
  push:
    paths:
      - frontend/**
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - name: astro build
        uses: withastro/action@v4
        with:
          path: frontend
        env:
          CONTENT_API_KEY: ${{ secrets.CONTENT_API_KEY }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
